.navbar {
    background-color: #000000;
    color: rgb(60, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu {
    display: flex;
    list-style: none;
  }
  .zai-avah {
    margin-right: 15px;
  }
  .menu-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }